################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeeManagement2/bin/Debug/netcoreapp3.1
/EmployeeManagement2/obj
